/************************************************ GRID LAYOUT */

main {
  height: 100vh;
  display: grid;
  grid-template-rows: repeat(6, 50%);
}

@media screen and (min-width: 768px) {
  main {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 992px) {
  main {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/************************************************ GENERAL */

h1,
h2 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  color: #ddd;
}

main {
  font-family: 'Lato', sans-serif;
  color: #fff;
}

.header,
.footer {
  background-color: #222;
}

/************************************************ PROJECTS */

.project {
  position: relative;
  display: flex;
  align-items: flex-end;
}

.project:hover .project-details {
  opacity: 1;
}

.project-title {
  background-color: #222;
  margin: 0 10px 10px;
  padding: 5px;
}

.project-1 {
  background: url("https://user-images.githubusercontent.com/15898299/83561122-b0490000-a4ed-11ea-8266-575c12566bd3.png") center center/cover no-repeat;
}

.project-2 {
  background: url("https://user-images.githubusercontent.com/15898299/83975243-51a6cc00-a8c9-11ea-8007-98a31d37bd34.png") center center/cover no-repeat;
}

.project-3 {
  background: url("https://github.com/flpfar/freecodecamp-articles-scraper/raw/develop/images/screenshot.png") center center/cover no-repeat;
}

.project-4 {
  background: url("https://github.com/flpfar/be-the-hero/raw/master/screenshots/screenshotweb.png") center center/cover no-repeat;
}

/************************************************ PROJECTS DETAILS #65e87c*/

.project-details {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.90);
  transition: all .3s ease;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.details-title {
  padding-bottom: 5px;
  border-bottom: 2px solid #e33c41;
  font-size: 1.4rem;
}

.details-info {
  margin: 10px 0;
  text-align: justify;
}

.details-techs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tech-item {
  margin: 0 4px 6px;
  padding: 4px 8px;
  font-size: 0.8rem;
  border: 1px solid #e33c41;
}

.details-footer {
  margin-top: auto;
  display: flex;
  justify-content: space-around;
}

.details-footer-item {
  padding-bottom: 4px;
  border-bottom: 2px solid #e33c41;
}

.primary-link {
  color: #fff;
  font-size: 1.4rem;
  text-decoration: none;
  font-weight: 700;
}

.primary-link:hover {
  color: #e33c41;
}

