/************************************************ GRID LAYOUT */

main {
  height: 100vh;
  display: grid;
  grid-template-rows: repeat(6, 50%);
  letter-spacing: -1px;
}

@media screen and (min-width: 768px) {
  main {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 992px) {
  main {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/************************************************ GENERAL */

h1,
h2,
h3 {
  /* font-family: 'Ubuntu', sans-serif; */
  font-family: 'Courier Prime', monospace;
  font-weight: 700;
}

main {
  /* font-family: 'Lato', sans-serif; */
  font-family: 'Courier Prime', monospace;
  color: #fff;
}

/************************************************ PROJECTS */

.project {
  position: relative;
  display: flex;
  align-items: flex-start;
}

.project-title {
  background-color: #222;
  font-weight: 400;
  margin: 10px 0 10px;
  box-shadow: 2px 2px 1px 0px #000;
  padding: 4px 12px 4px 16px;
}

.project-title::before {
  content: '>';
  font-weight: 700;
  margin-right: 5px;
  color: #0c9100;
}

.project-1 {
  background: url("https://user-images.githubusercontent.com/15898299/83561122-b0490000-a4ed-11ea-8266-575c12566bd3.png") center center/cover no-repeat;
}

.project-2 {
  background: url("https://user-images.githubusercontent.com/15898299/83975243-51a6cc00-a8c9-11ea-8007-98a31d37bd34.png") center center/cover no-repeat;
}

.project-3 {
  background: url("https://github.com/flpfar/be-the-hero/raw/master/screenshots/screenshotweb.png") center center/cover no-repeat;
}

.project-4 {
  background: url("https://github.com/flpfar/freecodecamp-articles-scraper/raw/develop/images/screenshot.png") center center/cover no-repeat;
}

/************************************************ PROJECTS DETAILS #65e87c #e33c41*/

.project:hover .project-details {
  transform: scale(1);
}

.project-details {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: scale(0);
  background-color: rgba(0, 0, 0, 0.90);
  transition: all .3s ease;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.details-title {
  padding-bottom: 5px;
  border-bottom: 2px solid #0c9100;
  font-size: 1.4rem;
}

.details-info {
  margin: 10px 0;
  text-align: justify;
}

.details-techs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tech-item {
  margin: 0 4px 6px;
  padding: 4px 8px;
  font-size: 0.8rem;
  border: 1px solid #0c9100;
}

.details-footer {
  margin-top: auto;
  display: flex;
  justify-content: space-around;
}

.details-footer-item {
  padding-bottom: 4px;
  border-bottom: 2px solid #0c9100;
}

.primary-link {
  color: #fff;
  font-size: 1.2rem;
  text-decoration: none;
  font-weight: 700;
}

.primary-link:hover {
  color: #0c9100;
}

/************************************************ HEADER AND FOOTER */

.header,
.footer {
  background-color: #000;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

/************************************************ HEADER */

.header-name {
  color: #fff;
  font-size: 1.4rem;
  margin-bottom: 4px;
}

.angle-brackets::before,
.angle-brackets::after,
.header-paragraph::before {
  color: #0c9100;
}

.angle-brackets::before {
  content: '<';
}

.angle-brackets::after {
  content: '>';
}

.header-paragraph {
  margin: 4px 0;
}

.header-paragraph::before {
  content: '>';
  margin-right: 4px;
}

.projects-tag-open {
  margin-top: auto;
}

/************************************************ FOOTER */

.footer {
  justify-content: space-between;
  align-items: center;
}

.projects-tag-close {
  align-self: flex-start;
}

.contact {
  width: 100%;
}

.contact-me {
  text-align: center;
  font-size: 1.3rem;
  margin-bottom: 10px;
}

.contact-list {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}


.contact-item {
  flex: 0 0 90px;
  text-align: center;
  position: relative;
}

.contact-link {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  text-align: center;
  padding: 10px;
}

.contact-link:hover::before,
.contact-link:hover::after {
  color: #0c9100;
  font-size: 7rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.contact-link:hover::before {
  content: '[';
  left: -1.5rem;
  
}

.contact-link:hover::after {
  content: ']';
  right: -1.5rem;
}

.contact-icon {
  font-size: 2.5rem;
  margin-bottom: 10px;
  display: block;
}